// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    

      @keyframes truck-line {
        0%   { transform: translateX(1800px) }
        100%   { transform: translateX(-1800px) }
      }
      .delivered-margin {
        margin-top: 10vh;
      }
      


      #delivered-text-section {
        margin-top: 0;
        margin-bottom: 8rem;
      }


      .gray-circles {
        left: 0px;
      }

      .webinar-row {
        overflow: visible;
      }
      .mh-row {
        overflow: visible;
      }
      .checks-row {
        overflow: visible;
      }
      .care-row {
        overflow: visible;
      }
      .check-graphics-container {
        margin-top: -300px;
      }

      #checks {
        margin-top: 9rem;
        margin-bottom: 8rem;
      }

      #mhealth {
        margin-bottom: 5rem;
      }

      #webinar {
        margin-top: 100px;
      }
      @keyframes check-rotate {
        from {
          transform: rotate(-55deg);
          transform-origin: top left;
        }
        to {
          transform: rotate(30deg);
          transform-origin: top left;
        }
      }

      #we-delivered {
       
        margin-top: 65px;
        
      }
      #delivered-text-section {
        margin-bottom: -20px;
      }

      

      // .turas-graphic-container {
      //   align-items: flex-start;
      // }
}