// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    

      @keyframes truck-line {
        0%   { transform: translateX(1500px) }
        100%   { transform: translateX(-1500px) }
      }
      
      .delivered-margin {
        margin-top: 10vh;
      }

      .trainee-desktop {
        display: block;
      }

      .trainee-mobile {
        display: none;
      }
      
      .turas-text {
        text-align: right;
      }
}