// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    

      @keyframes truck-line {
        0%   { transform: translateX(1500px) }
        100%   { transform: translateX(-1500px) }
      }
      
      .delivered-margin {
        margin-top: 10vh;
      }

      .trainee-desktop {
        display: block;
      }

      .trainee-mobile {
        display: none;
      }
      
      .turas-text {
        text-align: right;
      }
      .data-graphic-container {
        // float: right;
        
        align-items:flex-end;
        padding-right: 50px;
        // width: fit-content;
        // height: fit-content;
      }
      .data-row-container {
        position: relative;
        left: 60px;
      }
      .careers-text {
        // max-width: 50%;
        // font-size: .8rem;
        float: right;
      }
      #we-delivered {
        
        margin-top: 0px;
        
      }
      #delivered-text-section {
        margin-top: -200px;
      }

      .pgrad-col {
        display: flex;
        justify-content: center;
      }
}