// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
    .truck-line {
        margin-bottom: 15px;
        animation: truck-line 4s infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
      }
      .truck-container {
        overflow: visible;
        display: flex;
        flex-direction: column;
        
      }
}