// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
    .truck-line {
        margin-bottom: 15px;
        animation: truck-line 4s infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
      }
      .truck-container {
        // overflow: visible;
        display: flex;
        flex-direction: column;
        
      }

      @keyframes truck-drive {
        0%   { transform: translateX(-600px) }
        100%   { transform: translateX(800px) }
      }

      @keyframes truck-line {
        0%   { transform: translateX(1200px) }
        100%   { transform: translateX(-1200px) }
      }
      .delivered-margin {
        margin-top: 10vh;
      }

      .care-graphics-container {
        margin-top: 0;
      }
    
      .care-container {
        margin-bottom: 250px;
      }
      // .care-line {
      //   display: flex;
      // }
      .gray-circles {
        top: 0px;
        left: 40px;
      }

      .care-outer {
        left: 10px;
      }

      @keyframes check-rotate {
        from {
          transform: rotate(-500deg);
          transform-origin: top left;
        }
        to {
          transform: rotate(-190deg);
          transform-origin: top left;
        }
      }

      .mh-container {
        flex-direction: row;
        
      }
      .mh-border-right {
        display: flex;
        position: absolute;
        width: 1px;
        height: 80px;
        border-right: 1px solid $light_gray;
      }
      .mh-responsive-text {
        display: block;
      }
      .mh-row {
        padding: 26px 0;
      }
      .mh-t-1 {
        padding-top: 17px;
        padding-left: 17px
      }
      .mh-t-2 {
        padding-left: 17px;
      }
      .mh-mob-text {
        display: none;
      }
      
}