// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
    .truck-line {
        margin-bottom: 15px;
        animation: truck-line 4s infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
      }
      .truck-container {
        overflow: visible;
        display: flex;
        flex-direction: column;
        
      }

      @keyframes truck-drive {
        0%   { transform: translateX(-600px) }
        100%   { transform: translateX(800px) }
      }

      @keyframes truck-line {
        0%   { transform: translateX(1200px) }
        100%   { transform: translateX(-1200px) }
      }
}