// Xtra small devices (iPhone 5/SE, screen width < 363px)

@media (max-width: 363px) {
    .pgrad-gradient {
        width: calc(338px * 0.8);
        height: calc(338px * 0.8);
    }
    .pgrad-hat {
        width: calc(244px * 0.8);
        height: calc(244px * 0.8);
    }
    .webinar-c {
        width: calc(18px * 0.8);
        height: calc(18px * 0.8);
    }
    #webinar-speech {
        width: calc(144px * 0.8);
        height: calc(106px * 0.8);
    }
    #webinar-person {
        width: calc(100px * 0.8);
        height: calc(105px * 0.8);
    }
    #webinar-chart {
        width: calc(271px * 0.8);
        height: calc(136px * 0.8);
    }
    #webinar-screen {
        width: calc(336px * 0.8);
        height: calc(347px * 0.8);
    }
    .data-graphic-container {
        width: 280px;
    }
    .data-circle {
        left: 135px;
    }
    

}