@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");
body {
  background-color: #e6e6e6;
}

section {
  padding: 1rem;
}

.full-height {
  min-height: 100vh;
}

.gray-bg {
  background-color: #e6e6e6;
}

.white-bg {
  background-color: #ffffff;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #004785;
}

p {
  color: #444444;
}

.gray-text {
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  color: #444444;
}

.blue-text {
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  color: #004785;
}

.bold-blue-text {
  font-size: 36px;
  font-weight: 600;
  color: #004785;
}

.down-arrows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  margin-top: 35vh;
}

.down-arrows {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.down-arrows-bounce {
  animation-name: down-arrows-bounce;
  animation-timing-function: ease;
}

@keyframes down-arrows-bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  30% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  57% {
    transform: translateY(2px);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 60px;
}

.reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: #e6e6e6;
}

[data-aos="reveal-right"] {
  transform: scaleX(1);
  transform-origin: 0% 100%;
  transition-property: transform;
  transition-delay: 0.5s;
}

[data-aos="reveal-right"].aos-animate {
  transform: scaleX(0);
}

[data-aos="reveal-bottom"] {
  transform: scaleY(1);
  transition-property: transform;
  transition-delay: 0.5s;
}
[data-aos="reveal-bottom"].aos-animate {
  transform: scaleY(0);
  transform-origin: 0% 100%;
}

[data-aos="reveal-top"] {
  transform: scaleY(1);
  transition-property: transform;
  transition-delay: 0.1s;
}
[data-aos="reveal-top"].aos-animate {
  transform: scaleY(0);
  transform-origin: 100% 0%;
}

.blue-line-left {
  margin-bottom: -28px;
  margin-left: -1px;
}

.teal-line-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.pie-chart-container {
  width: 100px;
  height: 100px;
  padding-left: 77px;
  margin-top: -30px;
}

.pie-chart {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: -5.5px;
  margin-top: -1px;
}

.pie-triangle {
  position: relative;
  width: 25px;
  height: 30px;
  animation: triangle-move 1s linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes triangle-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes triangle-move {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-12px) translateX(-6px);
  }
}
[data-aos="reveal-left"] {
  transform: scaleX(1);
  transform-origin: 0% 100%;
  transition-property: transform;
  transition-delay: 0.3s;
}

[data-aos="reveal-left"].aos-animate {
  transform: scaleX(0);
}

.line-circle-container {
  position: relative;
  top: -50px;
  /* left: 160px; */
  padding-left: 220px;
}

.blue-line-right {
  margin-right: 30px;
}

.circles {
  position: relative;
  top: -75px;
  right: -80px;
}

.space {
  margin-bottom: 50rem;
}

.mask-female-container {
  position: absolute;
  top: 120px;
}

.female-mask {
  width: 230px;
  height: 320px;
  position: relative;
  left: 16px;
}

.mask-female-circle {
  width: 259px;
  height: 256px;
  position: relative;
  top: -334px;
  animation: mask-circle-rotate 5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes mask-circle-rotate {
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=year_in_review.styles.css.map */
